.idea
.vscode
.DS_Store
.env

admin-service/.mvn
admin-service/target

api-gateway/.mvn
api-gateway/target

auth-service/.mvn
auth-service/target

Appointment-service/.mvn
Appointment-service/target

doctor-service/.mvn
doctor-service/target
git 
user-service/.mvn
user-service/target

frontend-vite/node_modules
frontend-vite/dist
frontend-vite/.env
frontend-vite/.env.local